.ideoDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  font-family: "Biryani", cursive;
  position: relative;
}

.ideoTags {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.ideoTag {
  padding: 0.25rem 1.25rem;
  font-size: 0.9rem;
  border-radius: 25px;
  background-color: var(--lightBg);
  color: var(--darkText);
  font-weight: 600;
}

.ideoTitle {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

.ideoDescription {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.ideoMetaData {
  height: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 0.9rem;
}

.ideoDate {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.ideoIcons {
  height: 1.25rem;
}

.ideoPinIcon {
  position: absolute;
  height: 1.75rem;
  right: 1rem;
}
