.ideoDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 200px;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  font-family: "Biryani", cursive;
  position: relative;
}

.ideoTags {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.ideoTag {
  padding: 0.2rem 1rem 0 1rem;
  font-size: 0.9rem;
  border-radius: 25px;
  background-color: var(--lightBg);
  color: var(--darkText);
  font-weight: 600;
}

.ideoContent {
  padding-bottom: 2rem;
}

.ideoTitle {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

.ideoDescription {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.ideoMetaData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  margin-block: 0.75rem;
}

.ideoDate {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.ideoIcons {
  height: 1.25rem;
}

.ideoPinIcon {
  position: absolute;
  height: 1.5rem;
  right: 0.5rem;
  z-index: 10;
}

.dropDownMenu {
  display: none;
  position: absolute;
  top: 2.75rem;
  right: 1.25rem;
  z-index: 10;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--lightBg);
  color: var(--darkText);
  border-radius: 10px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropDownMenuList {
  list-style: none;
  padding: 0rem 1rem;
  margin-block: 0.75rem;
}

.dropDownMenuListItem {
  padding: 0.2rem 0;
  cursor: pointer;
}

.dropDownAnimation {
  animation: dropDown 0.2s;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropDownCloseAnimation {
  animation: dropDownClose 0.2s;
}

@keyframes dropDownClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
