.mainDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Righteous", cursive;
  background-color: var(--darkBg);
  color: var(--accentColor);
  overflow: hidden;
  transition: all 0.5s;
}

.logoScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logoText {
  font-weight: 500;
  rotate: 270deg;
  font-size: max(10rem, 15dvh);
}

.transformedLogoText {
  transform: translateX(85%);
  scale: 1.35;
}

.hiddenLogoText {
  font-weight: 500;
  rotate: 270deg;
  font-size: max(10rem, 15dvh);
  display: none;
  position: absolute;
  scale: 1.35;
}

.transformedHiddenLogoText {
  transform: translateX(-100%);
  scale: 1.35;
  display: block;
}

.logoTextAnimation {
  animation: logoTextAnimation 1s ease-in-out;
}

@keyframes logoTextAnimation {
  0% {
    scale: 1;
  }
  100% {
    transform: translateX(85%);
    scale: 1.35;
  }
}

.hiddenLogoTextAnimation {
  animation: hiddenLogoTextAnimation 1s ease-in-out;
  display: block;
  scale: 1.35;
}

@keyframes hiddenLogoTextAnimation {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-100%);
  }
}
