.mainDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 92dvh;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  background-color: var(--dullBackground);
}

.addIdeosForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--lightBg);
  border-radius: 10px 10px 0 0;
  padding: 6dvw 6dvw 0 6dvw;
  z-index: 2;
  animation: scrollUp 0.5s ease-in-out;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.formHeading {
  margin: -1rem 0;
  padding: 0;
}

.ideosButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
