.formInputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInput {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  height: 3.2rem;
  color: var(--lightText);
  background-color: var(--darkText);
  font-weight: 600;
  transition: 0.1s ease-out;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: "Dongle", sans-serif;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--textDark) inset !important;
  -webkit-text-fill-color: var(--textDark) !important;
}

.formInput:focus {
  outline: none;
}

.formInput::placeholder {
  font-weight: 600;
  color: var(--lightText);
}

.label {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--lightDark);
  font-weight: 600;
  transition: 0.1s ease-out;
  pointer-events: none;
  margin-bottom: -0.25rem;
}
