.textAreaDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textArea {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  height: 10rem;
  color: var(--lightText);
  background-color: var(--darkText);
  font-weight: 600;
  transition: 0.1s ease-out;
  border: none;
  outline: none;
  resize: none;
  border-radius: 10px;
  font-family: "Dongle", sans-serif;
}

.textArea:-webkit-autofill,
.textArea:-webkit-autofill:hover,
.textArea:-webkit-autofill:focus,
.textArea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #404053 inset !important;
  -webkit-text-fill-color: var(--text) !important;
}

.textArea::-webkit-scrollbar {
  display: none;
}

.textArea:focus {
  outline: none;
}

.textArea::placeholder {
  font-weight: 600;
  color: var(--lightText);
}

.label {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--lightDark);
  font-weight: 600;
  transition: 0.1s ease-out;
  pointer-events: none;
  margin-bottom: -0.25rem;
}