@font-face {
  font-family: "Righteous", sans-serif;
  src: url("../public/brand/fonts/Righteous.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
  background-color: #110f10;
  color: #fff;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  color: #cef196;
}

.logo {
  font-size: min(10rem, 25.1dvw);
  will-change: filter;
  transition: filter 300ms;
  margin: 0 0 -2rem 0;
  letter-spacing: 0.1rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoSubheading {
  color: #f5f1f0;
  font-weight: 900;
  font-size: min(3.25rem, 8.1dvw);
  margin: 1rem 0;
}

.logoSubheading span {
  color: #cef196;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
