.mainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8dvh;
}

.navLinkDiv {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
